@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background-color: rgba(177, 173, 172, 0.5);
}
